<div class="row mb-3">
  <div class="col-9">
    <h1><%= @article.title.titleize %></h1>
      <% @article.tags.each do |tag| %>
        <%= link_to tag.name, tag_path(tag), class: "badge badge-secondary" %>
      <% end %>
  </div>
  <div class="col text-right">

    <%= link_to edit_article_path, class: "text-secondary text-decoration-none ml-2" do %>
      <i class="far fa-edit fa-lg"></i>
    <% end %>

    <%= link_to article_path,
          method: :delete,
          data: { confirm: "Are you sure?"},
          class: "text-secondary text-decoration-none ml-2" do %>
            <i class="far fa-trash-alt fa-lg"></i>
    <% end %>
  </div>
</div>
<p class="text-muted"><%= @article.body %></p>

<% if @article.comments.any? %>
  <h3 class="mt-4 mb-4">Comments</h3>
  <div class="list-group">
    <%= render @article.comments %>
  </div>
<% end %>

<h3 class="mt-4 mb-4">Add Comment</h3>
<div class="card">
  <div class="card-body">
    <%= render 'comments/form' %>
  </div>
</div>
