<div class="row">
  <div class="col-sm-9">
    <h1>Articles tagged with <%= @tag.name %> </h1>
  </div>
  <div class="col-sm-3">
    <%= link_to tag_path, method: :delete, data: { confirm: "Are you sure?" } do %>
      <i class="far fa-trash-alt fa-lg text-muted float-right"></i>
    <% end %>

  </div>
</div>



<div class="row mt-4">
  <% @tag.articles.each do |article| %>
    <div class="col-sm-4">
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title text-dark">
            <%= article.title %>
          </h5>
          <p class="card-text text-muted">
            <%= article.body.truncate(25) %>
          </p>
          <%= link_to 'Read More', article_path(article), class: "btn btn-outline-secondary" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
